<div class="container">
{{ position_bottom_half }}
</div>
<div class="container">
{{ position_bottom }}
</div>
<div id="footer">
    <div class="footer-wrapper wrapper">
        <div class="footer-top">


                  <div class="footer-col1">
                      <div class="footer-menu-cnt">
                          <div class="footer-menu-item">
                              <a role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1">   <h3 class="footer-menu-title">

                                  AMDS Jeans</h3></a>
                              <div class="collapse in" id="collapse1">
                              <ul class="footer-menu">
                                <li><a href="/" title="Početna" class="active">Početna</a></li>
                                <li><a href="/amds-life/" title="AMDS blog">AMDS blog</a></li>
                                <li><a href="/cesta-pitanja/" title="Česta pitanja">Česta pitanja</a></li>
                                <li><a href="/o-nama/" title="O nama">O nama</a></li>
                                <li><a href="/o-nama#karijera" title="Karijera">Karijera</a></li>
                                <li><a href="/o-nama#vp" title="Veleprodaja">Veleprodaja</a></li>
                                <li><a href="/prodajna-mjesta/" title="Prodajna mjesta">Prodajna mjesta</a></li>
                                <li><a href="/kontakt/" title="Kontakt">Kontakt</a></li>
                            </ul>
                              </div>
                          </div>
                          <div class="footer-menu-item">
                              <a role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2"> <h3 class="footer-menu-title">Uvjeti kupnje</h3></a>
                              <div class="collapse in" id="collapse2">
                              <ul class="footer-menu">
                                  <li><a href="/uvjeti-kupnje/#narucivanje" title="Naručivanje">Naručivanje</a></li>
                                  <li><a href="/uvjeti-kupnje/#placanje" title="Plaćanje">Plaćanje</a></li>
                                  <li><a href="/uvjeti-kupnje/#dostava" title="Dostava / Isporuka">Dostava / Isporuka</a></li>
                                  <li><a href="/uvjeti-kupnje/#reklamacije" title="Reklamacije i povrati">Reklamacije i povrati</a></li>
                                  <li><a href="/uvjeti-kupnje/#zamjene" title="Zamjene">Zamjene</a></li>
                                  <li><a href="/uvjeti-kupnje/#privatnost" title="Privatnost i sigurnost">Privatnost i sigurnost</a></li>
                                  <li><a href="/uvjeti-kupnje/#akcije" title="Promotivne akcije">Promotivne akcije</a></li>

                              </ul>
                              </div>
                  </div>
                      </div>
                  </div>
                  <div class="footer-col2">
                    <div class="footer-column  eq_height">
                      <div class="nw">
                          <!-- Newsletter Subscribe -->
                          <div class="nw-title">Newsletter</div>
                          <div class="nw-note"><p>Prijavi se i saznaj više o AMDS JEANSU!</p>
                          </div>
                          <div class="nw-cnt">
                              <div class="klaviyo-form-Wz5h6t"></div>

                          </div>
                      </div>

                  </div>
                  </div>

                  <div class="footer-col3">

                      <div class="footer-support">
                          <div class="support">
                              <h4>{{ footer_block_title }}</h4>

                             {{ footer_block_2 }}
                          </div>
                      </div>
                      <div class="footer-social">
                          <p><a class="btn" href="https://www.facebook.com/amds.jeans.hr" target="_blank">Facebook</a> <a class="btn" href="https://www.instagram.com/amds.jeans/" target="_blank">Instagram</a></p>
                      </div>



                  </div>




        </div><!-- .row ends -->
         <div class="footer-bottom">
        <div class="footer-col1">
            <div class="payment-methods">
                <h3 class="footer-menu-title">Podržani načini plaćanja</h3>
                <div class="footer-payment"><ul>
                        <li>Kreditnim karticama jednokratno ili na rate</li>
                        <li>Općom uplatnicom, virmanom, internet bankarstvom</li>
                        <li>Pouzećem prilikom dostave paketa</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-col2">
            <div class="cards">
                <a target="_blank" href="https://www.wspay.info/"><img src="image/ws.png" alt="" width="127" height="55"></a>

            </div>
            <div class="cardss">
             <a href="https://www.wspay.info/mastercard-securecode.html" target="_blank" title="Mastercard® Identity Check™"><img alt="Mastercard® Identity Check™" src="https://www.wspay.info/payment-info/mastercard-identity-check.png" border="0" > </a>

                <a href="https://www.wspay.info/verified-by-visa.html" target="_blank" title="Visa Secure"> <img alt="Visa Secure" src="https://www.wspay.info/payment-info/visa-secure.png" border="0"  > </a>
                <a href="http://www.diners.com.hr" target="_blank" title="Diners Club International"> <img alt="Diners Club International" src="https://www.wspay.info/payment-info/diners_50.gif" border="0"  > </a>


                <a href="http://www.visa.com.hr/" target="_blank" title="Visa">
                    <img alt="Visa" src="https://www.wspay.info/payment-info/Visa50.gif" border="0" > </a>

                <a href="https://www.mastercard.com/hr/" target="_blank" title="MasterCard"><img alt="MasterCard" src="https://www.wspay.info/payment-info/MasterCard50.gif" border="0"  ></a>
                <a href="https://www.mastercard.com/hr/" target="_blank" title="Maestro"> <img alt="Maestro" src="https://www.wspay.info/payment-info/maestro50.gif" border="0" > </a>
            </div>
        </div>
        <div class="footer-col3">
            <div class="copy-cnt">
                <a href="https://amds.hr/" class="footer-logo"></a>
                <p class="copy">© 2014. - 2021. AMO DIZAJN JJ d.o.o.</p>
            <p class="dev"><a href="https://www.agmedia.hr" title="Web shop izrada" target="_blank" class="dev-signature">Izrada web shopa</a>: <a href="https://www.agmedia.hr/" target="_blank">AG media</a></p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer-stores">
    <div class="wrapper">
        <a href="prodajna-mjesta/" class="footer-stores-title">Prodajna mjesta</a>
        <a class="footer-store" href="{{ HTTPS_SERVER }}prodajna-mjesta/#collapse-locationZagreb">Regija Zagreb</a>
        <a class="footer-store" href="{{ HTTPS_SERVER }}prodajna-mjesta/#collapse-locationDalmacija">Regija Dalmacija</a>
        <a class="footer-store" href="{{ HTTPS_SERVER }}prodajna-mjesta/#collapse-locationLika">Regija Rijeka, Istra i Lika</a>
        <a class="footer-store" href="{{ HTTPS_SERVER }}prodajna-mjesta/#collapse-locationSlavonija">Regija Sjeverna Hrvatska i Slavonija</a>
    </div>
</div>

<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="catalog/view/theme/basel/js/lightgallery/css/lightgallery.css" rel="stylesheet" />
<script src="catalog/view/theme/basel/js/jquery.matchHeight.min.js"></script>
<script src="catalog/view/theme/basel/js/featherlight.js"></script>

<script>
    $(document).ready(function(){
        if ($(window).width() <= 768) {
            $("#collapse1").removeClass("in");
            $("#collapse2").removeClass("in");
        }
    });
</script>


{% if view_popup %}
<!-- Popup -->
<script>
$(document).ready(function() {
if ($(window).width() > {{ popup_width_limit }}) {
setTimeout(function() {
$.featherlight({ajax: 'index.php?route=extension/basel/basel_features/basel_popup', variant:'popup-wrapper'});
}, {{ popup_delay }});
}
});
</script>
{% endif %}
{% if sticky_columns %}
<!-- Sticky columns -->
<script>
if ($(window).width() > 767) {
$('#column-left, #column-right').theiaStickySidebar({containerSelector:$(this).closest('.row'),additionalMarginTop:{{ sticky_columns_offset }}});
}
</script>
{% endif %}
{% if view_cookie_bar %}
<!-- Cookie bar -->
<div class="basel_cookie_bar">
<div class="table">
<div class="table-cell w100">{{ basel_cookie_info }}</div>
<div class="table-cell button-cell">
<a class="btn btn-tiny btn-light-outline" onclick="$(this).parent().parent().parent().fadeOut(400);">{{ basel_cookie_btn_close }}</a>
{% if href_more_info is defined %}
<a class="more-info anim-underline light" href="{{ href_more_info }}">{{ basel_cookie_btn_more_info }}</a>
{% endif %}
</div>
</div>
</div>
{% endif %}

</div><!-- .outer-container ends -->
<a class="scroll-to-top primary-bg-color hidden-sm hidden-xs" onclick="$('html, body').animate({scrollTop:0});"></a>
<div id="featherlight-holder"></div>
</body>
</html>