{{ header }}

{% if klaviyo_order is defined and klaviyo_order.OrderID %}
<script>
  window._learnq = window._learnq || [];

  {% if klaviyo_order.Email %}
  window._learnq.push(['identify', {
    '$email': '{{ klaviyo_order.Email }}'
  }]);
  {% endif %}

  window._learnq.push(['track', 'Placed Order', {
    OrderID: '{{ klaviyo_order.OrderID }}',
    value: {{ klaviyo_order.value|default(0) }},
    Currency: '{{ klaviyo_order.Currency|default("EUR") }}'
  }]);

  console.log('Klaviyo: Placed Order sent');
</script>
{% endif %}


<div class="container">
  <div class="wrapper ">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-md-9 col-sm-8' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 id="page-title">{{ heading_title }}</h1>
      <div class="inline-link text-center">{{ text_message }}</div>

      <div class="inline-link text-center"><img src="{{ scan }}"/></div>

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</div>
{{ footer }}
