<form name="pay" action="{{ action }}" method="post">
    <!-- Obavezna polja (WSPay v2.0) -->
    <input type="hidden" name="Version" value="{{ Version }}">
    <input type="hidden" name="ShopID" value="{{ ShopID }}">
    <input type="hidden" name="ShoppingCartID" value="{{ ShoppingCartID }}">
    <input type="hidden" name="TotalAmount" value="{{ TotalAmount }}">
    <input type="hidden" name="Currency" value="{{ Currency }}">
    <input type="hidden" name="Language" value="{{ Language }}">

    <!-- Podaci o kupcu -->
    <input type="hidden" name="CustomerFirstName" value="{{ CustomerFirstName }}">
    <input type="hidden" name="CustomerLastName"  value="{{ CustomerLastName }}">
    <input type="hidden" name="CustomerAddress"   value="{{ CustomerAddress }}">
    <input type="hidden" name="CustomerCity"      value="{{ CustomerCity }}">
    <input type="hidden" name="CustomerZIP"       value="{{ CustomerZIP }}">
    <input type="hidden" name="CustomerCountry"   value="{{ CustomerCountry }}">
    <input type="hidden" name="CustomerPhone"     value="{{ CustomerPhone }}">
    <input type="hidden" name="CustomerEmail"     value="{{ CustomerEmail }}">

    <!-- Povratni URL-ovi -->
    <input type="hidden" name="ReturnMethod" value="{{ ReturnMethod }}">
    <input type="hidden" name="ReturnURL" value="{{ ReturnURL }}">
    <input type="hidden" name="ReturnErrorURL" value="{{ ReturnErrorURL }}">
    <input type="hidden" name="CancelURL" value="{{ CancelURL }}">

    <!-- Server-to-server obavijest -->
    <input type="hidden" name="CallbackURL" value="{{ CallbackURL }}">

    <!-- Potpis (SHA512) -->
    <input type="hidden" name="Signature" value="{{ Signature }}">

    <!-- Gumb potvrde -->
    <div class="buttons pull-right">
        <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>


</form>