{{ header }}



<div class="cd-row product-layout ">



    <div id="content" class="product-main no-min-height {{ class }}">
    {{ content_top }}
    
    <div class="product-info product-page">

        <div class="cd-row">
     
             <div class="cd-col1">
                 {% if thumb or images %}


                 <ul class="cd-images" id="gallery" >
                     {% if thumb %}
                     <li class="cd-image">
                         <a href="{{ popup }}" class="link product-gallery cloud-zoom "  rel="position:'inside', showTitle: false" >
                             <picture>
                                 <source srcset="{{ thumb }}" media="(max-width: 760px)">
                                 <img src="{{ thumb }}" alt="{{ heading_title }}" data-product_main_image="1" width="610" height="915">
                             </picture>
                         </a>
                     </li>
                     {% endif %}
                         {% if images %}
                             {% for image in images %}
                             <li class="cd-image {% if loop.first %} {% else %}extra{% endif %}">
                                 <a href="{{ image.popup }}" class="product-gallery cloud-zoom link" title=""  rel="position:'inside', showTitle: false">
                                     <picture>
                                         <source srcset="{{ image.thumb }}" media="(max-width: 760px)">
                                         <img src="{{ image.thumb }}" alt="{{ heading_title }}"  >
                                     </picture>
                                 </a>
                             </li>
                             {% endfor %}
                         {% endif %}

                     {% endif %}
                 </ul>
             </div>
            <div class="cd-col2 ">
            <div class="inner">


                <ul class="breadcrumb" style="display: block;margin-bottom:20px">
                    {% for breadcrumb in breadcrumbs %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
                </ul>

                <div class="cd-header">
                    <div class="cd-info">

                    <div class="product-h1">
                    <h1 id="page-title">{{ heading_title }}</h1>
                    </div>

                        <p class="info skuo margin-b0"> {{ model }}</p>
                    </div>

                          {% if review_status and (review_qty > 0) %}
            <div class="rating">
            <span class="rating_stars rating r{{ rating }}">
            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            </span>
            </div>
            <span class="review_link">(<a class="hover_uline to_tabs" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">{{ reviews }}</a>)</span>
            {% endif %}

                    <div class="cd-price price">

                        {% if price %}
                            {% if  special %}

                            <div class="old cd-old-price line-through" data-product_basic_price="4406_0">{{ price }}</div>

                            <div class="current cd-current-price cd-discount-price" data-product_price="4406_0">{{ special }}</div>
                            {% else %}
                                <div class="current cd-current-price " data-product_basic_price="4406_0">{{ price }}</div>
                        {% endif %}




                            {% if discounts %}
                            <p class="discount">
                            {% for discount in discounts %}
                            <span>{{ discount.quantity }}{{ text_discount }}<i class="price">{{ discount.price }}</i></span>
                            {% endfor %}
                            </p>
                            {% endif %}

                          {% endif %} <!-- if price ends -->
                    </div>

                </div>

              {% if meta_description_status and meta_description %}
              <p class="meta_description">{{ meta_description }}</p>
              {% endif %}


              <div id="product">

                    {% if options %}
                    <div class="options">
                        {% for option in options %}

                            {% if option.type == 'select' %}
                            <div class="form-group{% if option.required %} required{% endif %} table-row">
                              <div class="table-cell name">
                              <label class="control-label" for="input-option{{ option.product_option_id }}">{{ option.name }}</label>
                              </div>
                              <div class="table-cell">
                              <select name="option[{{ option.product_option_id }}]" id="input-option{{ option.product_option_id }}" class="form-control">
                                <option value="">{{ text_select }}</option>
                                {% for option_value in option.product_option_value %}
                                <option value="{{ option_value.product_option_value_id }}">{{ option_value.name }}
                                {% if option_value.price %}
                                ({{ option_value.price_prefix }}{{ option_value.price }})
                                {% endif %}
                                </option>
                                {% endfor %}
                              </select>
                              </div>
                            </div>
                            {% endif %}

                            {% if option.type == 'radio' %}
                            <div class="form-group{% if option.required %} required {% endif %}   mb-0 ">
                              <div class=" radio-cell name variation-title">
                              <label class="control-label vt-title"> {% if option.name == 'Veličina' %} Odaberite veličinu {% else  %} {{ option.name }}{% endif %}</label>
                                  <a data-toggle="modal" data-target="#sizeModal" class="btn-size-guide fancybox">Vodič za odabir veličine</a>
                              </div>
                              <div class=" radio-cell">
                              <div id="input-option{{ option.product_option_id }}">
                                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% for option_value in option.product_option_value %}

                                        <label class="btn btn-outline btn-option ">
                                    <input type="radio" name="option[{{ option.product_option_id }}]" value="{{ option_value.product_option_value_id }}" />
                                    {% if option_value.image %}
                                    <img src="{{ option_value.image }}" alt="{{ option_value.name }}{% if option_value.price %}({{ option_value.price_prefix }}{{ option_value.price }}){% endif %}" data-toggle="tooltip" data-title="{{ option_value.name }}{% if option_value.price %} ({{ option_value.price_prefix }}{{ option_value.price }}){% endif %}" />
                                    {% endif %}
                                    <span class="name">
                                    {{ option_value.name }}
                                    {% if option_value.price %}
                                    ({{ option_value.price_prefix }}{{ option_value.price }})
                                    {% endif %}
                                    </span>
                                  </label>

                                {% endfor %}
                                  </div>
                              </div>
                              </div>
                            </div>
                            {% endif %}

                            {% if option.type == 'checkbox' %}
                        <div class="form-group{% if option.required %} required{% endif %} ">
                          <div class=" checkbox-cell name">
                          <label class="control-label">ODABERITE VELIČINU</label>
                          </div>
                          <div class=" checkbox-cell">
                          <div id="input-option{{ option.product_option_id }}">
                              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for option_value in option.product_option_value %}

                                    <label class="btn btn-outline btn-option active">
                                <input type="radio" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" />
                                {% if option_value.image %}
                                <img src="{{ option_value.image }}" alt="{{ option_value.name }}{% if option_value.price %}({{ option_value.price_prefix }}{{ option_value.price }}){% endif %}" data-toggle="tooltip" data-title="{{ option_value.name }}{% if option_value.price %} ({{ option_value.price_prefix }}{{ option_value.price }}){% endif %}" />
                                {% endif %}
                                <span class="name">
                                {{ option_value.name }}
                                {% if option_value.price %}
                                ({{ option_value.price_prefix }}{{ option_value.price }})
                                {% endif %}
                                </span>
                              </label>

                            {% endfor %}
                              </div>
                          </div>
                          </div>
                        </div>
                        {% endif %}

                        {% endfor %} <!-- foreach option -->
                    </div>
                    {% endif %}


                      <div class="add-to-cart-section">
                          <div class="add-to-cart-container">
                              <div  class="cd-add-section active" >
                                <div class="cd-qty quantity buttons_added">
                                     <!--   <input type="number" step="1" min="{{ minimum }}" name="quantity" value="{{ minimum }}" id="input-quantity" class="form-control  put-qty" />-->

                                    <input type="button" value="-" class="minus"><input type="text" step="1" min="1" max="" id="input-quantity" name="quantity" value="{{ minimum }}" title="Qty" class="input-text qty text put-qty" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                                </div>
                          <input type="hidden" name="product_id" value="{{ product_id }}" />
                          <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary cd-btn-add"><span>{% if ((qty < 1) and (stock_badge_status)) %}{{ basel_text_out_of_stock }}{% else %}{{ button_cart }}{% endif %}</span></button>

                              </div>
                            </div>

                          <div class="add-to-wishlist cd-add-to-wishlist cd-wishlist" >
                          <a onclick="wishlist.add('{{ product_id }}');" class="btn-add-to-wishlist"><i class="icon-heart"></i> </a>
                          </div>
                      </div>
                        {% if minimum > 1 %}
                        <div class="alert alert-sm alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                        {% endif %}

                      </div>

                <div class="cd-shipping-info"><p><strong>Besplatna dostava</strong> za narudžbe iznad 299 kn (dostava 35 kn)</p>
                </div>


                <a data-toggle="modal" data-target="#dostupnostModal" class="cd-btn-stores fancybox">
                    <span>Provjeri dostupnost u trgovinama</span>
                </a>

                <div class="cd-desc cms-content">
                    {{ description }}
                </div>

                  </div> <!-- #product ends -->



            <p class="info is_compare"><a onclick="compare.add('{{ product_id }}');"><i class="icon-refresh"></i> {{ button_compare }}</a></p>
            {% if question_status %}
            <p class="info is_ask"><a class="to_tabs" onclick="$('a[href=\'#tab-questions\']').trigger('click'); return false;"><i class="icon-question"></i> {{ basel_button_ask }}</a></p>
            {% endif %}

            <div class="clearfix"></div>

            <div class="info-holder">

              {% if price and tax %}
              <p class="info p-tax"><b>{{ text_tax }}</b> <span class="live-price-tax">{{ tax }}</span></p>
              {% endif %}

              {% if price and points %}
              <p class="info"><b>{{ text_points }}</b> {{ points }}</p>
              {% endif %}



              {% if manufacturer %}
              <p class="info"><b>{{ text_manufacturer }}</b> <a class="hover_uline" href="{{ manufacturers }}">{{ manufacturer }}</a></p>
              {% endif %}



              {% if reward %}
              <p class="info"><b>{{ text_reward }}</b> {{ reward }}</p>
              {% endif %}

             </div> <!-- .info-holder ends -->

             </div> <!-- .inner ends -->
             </div> <!-- .table-cell.right ends -->

        </div>
    
    </div> <!-- .product-info ends -->
    
</div>
</div>



<!-- Modal -->
<div class="modal fade" id="sizeModal" tabindex="-1" role="dialog" aria-labelledby="sizeModalLabel">
    <div class="modal-dialog" role="document"  style="width:80vw;margin:20px auto">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Tablica veličina</h4>
            </div>
            <div class="modal-body">
                <h3 class="modalh">Tablica veličina - Ženska odjeća</h3>
                <p>*Sve veličine navedene su u centrimetrima  |  VB - veličinski broj  |  S - Size (veličina)</p>
                <div class="table-responsive">
                <table class="table table-hover" >
                    <tbody>
                    <tr>
                        <td><strong>Konfencijski broj</strong></td>
                        <td style="text-align: center;">34</td>
                        <td style="text-align: center;">36</td>
                        <td style="text-align: center;">38</td>
                        <td style="text-align: center;">40</td>
                        <td style="text-align: center;">42</td>
                        <td style="text-align: center;">44</td>
                        <td style="text-align: center;">46</td>
                        <td style="text-align: center;">48</td>
                        <td style="text-align: center;">50</td>
                        <td style="text-align: center;">52</td>
                        <td style="text-align: center;">54</td>
                    </tr>
                    <tr>
                        <td><strong>Međunarodna veličina</strong></td>
                        <td style="text-align: center;">XS</td>
                        <td style="text-align: center;">S</td>
                        <td style="text-align: center;">S</td>
                        <td style="text-align: center;">M</td>
                        <td style="text-align: center;">M</td>
                        <td style="text-align: center;">L</td>
                        <td style="text-align: center;">L</td>
                        <td style="text-align: center;">XL</td>
                        <td style="text-align: center;">XL</td>
                        <td style="text-align: center;">XXL</td>
                        <td style="text-align: center;">XXL</td>
                    </tr>
                    <tr>
                        <td><strong>Treaper veličina / inch</strong></td>
                        <td style="text-align: center;">25/26</td>
                        <td style="text-align: center;">27/28</td>
                        <td style="text-align: center;">29</td>
                        <td style="text-align: center;">30/31</td>
                        <td style="text-align: center;">31/32</td>
                        <td style="text-align: center;">33/34</td>
                        <td style="text-align: center;">34/36</td>
                        <td style="text-align: center;">38</td>
                        <td style="text-align: center;">40</td>
                        <td style="text-align: center;">42</td>
                        <td style="text-align: center;">44</td>
                    </tr>
                    <tr>
                        <td><strong>Opseg grudi</strong></td>
                        <td style="text-align: center;">78-81</td>
                        <td style="text-align: center;">82-85</td>
                        <td style="text-align: center;">86-89</td>
                        <td style="text-align: center;">89-93</td>
                        <td style="text-align: center;">93-97</td>
                        <td style="text-align: center;">98-102</td>
                        <td style="text-align: center;">103-107</td>
                        <td style="text-align: center;">108-13</td>
                        <td style="text-align: center;">114-119</td>
                        <td style="text-align: center;">120-125</td>
                        <td style="text-align: center;">126-131</td>
                    </tr>
                    <tr>
                        <td><strong>Opseg struka</strong></td>
                        <td style="text-align: center;">63-65</td>
                        <td style="text-align: center;">66-69</td>
                        <td style="text-align: center;">70-73</td>
                        <td style="text-align: center;">74-77</td>
                        <td style="text-align: center;">78-81</td>
                        <td style="text-align: center;">82-85</td>
                        <td style="text-align: center;">86-90</td>
                        <td style="text-align: center;">91-95</td>
                        <td style="text-align: center;">96-102</td>
                        <td style="text-align: center;">103-108</td>
                        <td style="text-align: center;">109-114</td>
                    </tr>
                    <tr>
                        <td><strong>Opseg bokova</strong></td>
                        <td style="text-align: center;">88-91</td>
                        <td style="text-align: center;">92-95</td>
                        <td style="text-align: center;">96-98</td>
                        <td style="text-align: center;">99-101</td>
                        <td style="text-align: center;">102-104</td>
                        <td style="text-align: center;">105-108</td>
                        <td style="text-align: center;">109-112</td>
                        <td style="text-align: center;">113-116</td>
                        <td style="text-align: center;">117-121</td>
                        <td style="text-align: center;">122-126</td>
                        <td style="text-align: center;">127-132</td>
                    </tr>
                    </tbody>
                </table>
                </div>

                <div class="row" style="margin-top:30px">
                    <div class="col-md-9 col-xs-12">
                    <h3 class="modalh">Upute za mjerenje - žensko</h3>
                    <p class="extra1"><strong>1. Prsa</strong></p>

                    <p>Izmjerite svoj opseg prsa mjernom trakom (metrom) tako da prolazi ispod pazuha i preko najšireg dijela prsa.</p>

                    <p class="extra1"><strong>2. Struk</strong></p>

                    <p>Izmjerite svoj opseg struka u najužem dijelu ili pak na sredini između vrha kuka i dna prsnog koša.</p>

                    <p class="extra1"><strong>3. Bokovi</strong></p>

                    <p>Izmjerite svoj opseg boka na najširem dijelu, gdje su mišići stražnjice najveći.</p>
                    </div>
                    <div class="col-md-3 hidden-xs">
                        <img src="https://amds.hr/upload/rotator_element/thumb/z-fotka-vodic-01_5f6af789a98ce_980x980r.jpg" alt="">
                    </div>


                </div>

                <h3 class="modalh">Tablica veličina - Muška odjeća</h3>
                <p>*Sve veličine navedene su u centrimetrima  |  VB - veličinski broj  |  S - Size (veličina)</p>
                <div class="table-responsive">
                    <table class="table table-hover" >
                        <tbody>
                        <tr>
                            <td><strong>Konfencijski broj</strong></td>
                            <td style="text-align: center;">40</td>
                            <td style="text-align: center;">42</td>
                            <td style="text-align: center;">44</td>
                            <td style="text-align: center;">46</td>
                            <td style="text-align: center;">48</td>
                            <td style="text-align: center;">50</td>
                            <td style="text-align: center;">52</td>
                            <td style="text-align: center;">54</td>
                            <td style="text-align: center;">56</td>
                            <td style="text-align: center;">58</td>
                            <td style="text-align: center;">60</td>
                            <td style="text-align: center;">62</td>
                            <td style="text-align: center;">64</td>
                        </tr>
                        <tr>
                            <td><strong>Međunarodna veličina</strong></td>
                            <td style="text-align: center;">XS</td>
                            <td style="text-align: center;">xS</td>
                            <td style="text-align: center;">S</td>
                            <td style="text-align: center;">S</td>
                            <td style="text-align: center;">M</td>
                            <td style="text-align: center;">M</td>
                            <td style="text-align: center;">L</td>
                            <td style="text-align: center;">L</td>
                            <td style="text-align: center;">XL</td>
                            <td style="text-align: center;">XL</td>
                            <td style="text-align: center;">XXL</td>
                            <td style="text-align: center;">XXL</td>
                            <td style="text-align: center;">XXXL</td>
                        </tr>
                        <tr>
                            <td><strong>Treaper veličina / inch</strong></td>
                            <td style="text-align: center;">28/29</td>
                            <td style="text-align: center;">29/30</td>
                            <td style="text-align: center;">31/32</td>
                            <td style="text-align: center;">32/33</td>
                            <td style="text-align: center;">34/35</td>
                            <td style="text-align: center;">36</td>
                            <td style="text-align: center;">38</td>
                            <td style="text-align: center;">40/42</td>
                            <td style="text-align: center;">44</td>
                            <td style="text-align: center;">46</td>
                            <td style="text-align: center;">48</td>
                            <td style="text-align: center;">50</td>
                            <td style="text-align: center;">52</td>
                        </tr>
                        <tr>
                            <td><strong>Opseg grudi</strong></td>
                            <td style="text-align: center;">82-85</td>
                            <td style="text-align: center;">84-87</td>
                            <td style="text-align: center;">86-89</td>
                            <td style="text-align: center;">90-93</td>
                            <td style="text-align: center;">94-97</td>
                            <td style="text-align: center;">98-101</td>
                            <td style="text-align: center;">102-105</td>
                            <td style="text-align: center;">106-109</td>
                            <td style="text-align: center;">110-113</td>
                            <td style="text-align: center;">114-117</td>
                            <td style="text-align: center;">118-121</td>
                            <td style="text-align: center;">122-129</td>
                            <td style="text-align: center;">126-129</td>
                        </tr>
                        <tr>
                            <td><strong>Opseg struka</strong></td>
                            <td style="text-align: center;">70-73</td>
                            <td style="text-align: center;">72-75</td>
                            <td style="text-align: center;">74-77</td>
                            <td style="text-align: center;">78-81</td>
                            <td style="text-align: center;">82-85</td>
                            <td style="text-align: center;">86-89</td>
                            <td style="text-align: center;">90-94</td>
                            <td style="text-align: center;">95-99</td>
                            <td style="text-align: center;">100-104</td>
                            <td style="text-align: center;">105-109</td>
                            <td style="text-align: center;">110-114</td>
                            <td style="text-align: center;">115-119</td>
                            <td style="text-align: center;">120-124</td>
                        </tr>
                        <tr>
                            <td><strong>Opseg bokova</strong></td>
                            <td style="text-align: center;">87-89</td>
                            <td style="text-align: center;">90-92</td>
                            <td style="text-align: center;">93-95</td>
                            <td style="text-align: center;">96-98</td>
                            <td style="text-align: center;">99-101</td>
                            <td style="text-align: center;">102-104</td>
                            <td style="text-align: center;">105-107</td>
                            <td style="text-align: center;">108-110</td>
                            <td style="text-align: center;">111-113</td>
                            <td style="text-align: center;">114-116</td>
                            <td style="text-align: center;">117-119</td>
                            <td style="text-align: center;">120-122</td>
                            <td style="text-align: center;">123-125</td>
                        </tr>
                        </tbody>
                    </table></div>


                <div class="row" style="margin-top:30px">
                    <div class="col-md-9 col-xs-12">
                        <h3 class="modalh">Upute za mjerenje - muško</h3>
                        <p class="extra1"><strong>1. Prsa</strong></p>

                        <p>Izmjerite svoj opseg prsa mjernom trakom (metrom) tako da prolazi ispod pazuha i preko najšireg dijela prsa.</p>

                        <p class="extra1"><strong>2. Struk</strong></p>

                        <p>Izmjerite svoj opseg struka u najužem dijelu ili pak na sredini između vrha kuka i dna prsnog koša.</p>

                        <p class="extra1"><strong>3. Bokovi</strong></p>

                        <p>Izmjerite svoj opseg boka na najširem dijelu, gdje su mišići stražnjice najveći.</p>
                    </div>
                    <div class="col-md-3 hidden-xs">
                        <img src="https://amds.hr/upload/rotator_element/thumb/m-fotka-vodic-01_5f6af79902ad7_980x980r.jpg" alt="" >
                    </div>


                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="dostupnostModal" tabindex="-1" role="dialog" aria-labelledby="dostupnostModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title tstores" id="myModalLabel">Dostupnost u trgovinama</h4>
            </div>
            <div class="modal-body">
                <div class="cd-store-title" data-product_title="1">{{ heading_title }}</div>
                <span class="code">{{ model }}</span>
                <div class="cd-store-header special">
                    <div class="cd-store-attr-title"><strong>Veličina:</strong> VB 46</div>
                </div>
                <div class="panel-group nullpad " id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title"><a href="#collapse-locationDalmacija" class="accordion-toggle l-title sm collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Kaštel Sućurac (Regija Dalmacija) <span class="toggle-icon"></span></a></h5>
                        </div>
                        <div class="panel-collapse pmob collapse" id="collapse-locationDalmacija" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body smp">
                                <div class="row">
                                    <div class="col-md-12 lp lpp">
                                        <h3 class="lp-title"></h3>
                                        Franje Tuđmana 7, 21212<br>
                                        021 224 185<br>
                                        kastela@amds.hr
                                        <br>
                                        Radno vrijeme (pon-ned): 8 - 21h
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5 class="panel-title"><a href="#collapse-locationDalmacija" class="accordion-toggle l-title sm collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">Kaštel Sućurac (Regija Dalmacija) <span class="toggle-icon"></span></a></h5>
                        </div>
                        <div class="panel-collapse pmob collapse" id="collapse-locationDalmacija" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body smp">
                                <div class="row">
                                    <div class="col-md-12 lp  lpp">
                                        <h3 class="lp-title"></h3>
                                        Franje Tuđmana 7, 21212<br>
                                        021 224 185<br>
                                        kastela@amds.hr
                                        <br>
                                        Radno vrijeme (pon-ned): 8 - 21h
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>
            </div>

        </div>
    </div>
</div>







<script src="catalog/view/theme/basel/js/lightgallery/js/lightgallery.min.js"></script>
<script src="catalog/view/theme/basel/js/lightgallery/js/lg-zoom.min.js"></script>
<script src="catalog/view/theme/basel/js/cloudzoom/cloud-zoom.1.0.2.min.js"></script>
{% if basel_price_update %}
<script src="index.php?route=extension/basel/live_options/js&product_id={{ product_id }}"></script>
{% endif %}

{% if products %}
<script><!--
$('.grid-holder.related').slick({
prevArrow: "<a class=\"arrow-left icon-arrow-left\"></a>",
nextArrow: "<a class=\"arrow-right icon-arrow-right\"></a>",
dots:true,
{% if direction == 'rtl' %}
rtl: true,
{% endif %}
respondTo:'min',
{% if basel_rel_prod_grid == '5' %}
slidesToShow:5,slidesToScroll:5,responsive:[{breakpoint:1100,settings:{slidesToShow:4,slidesToScroll:4}},{breakpoint:960,settings:{slidesToShow:3,slidesToScroll:3}},{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif basel_rel_prod_grid == '4' %}
slidesToShow:4,slidesToScroll:4,responsive:[{breakpoint:960,settings:{slidesToShow:3,slidesToScroll:3}},{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif basel_rel_prod_grid == '3' %}
slidesToShow:3,slidesToScroll:3,responsive:[{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif basel_rel_prod_grid == '2' %}
slidesToShow:2,slidesToScroll:2,responsive:[
{% endif %}
{% if items_mobile_fw %}
{breakpoint:320,settings:{slidesToShow:1,slidesToScroll:1}}
{% endif %}
]
});
$('.product-style2 .single-product .icon').attr('data-placement', 'top');
$('[data-toggle=\'tooltip\']').tooltip({container: 'body'});
//--></script>
{% endif %}

{% if sale_end_date and product_page_countdown %}
 <script>
  $(function() {
	$('#special_countdown').countdown('{{ sale_end_date }}').on('update.countdown', function(event) {
  var $this = $(this).html(event.strftime(''
    + '<div class=\"special_countdown\"></span><p><span class=\"icon-clock\"></span> {{ basel_text_offer_ends }}</p><div>'
    + '%D<i>{{ basel_text_days }}</i></div><div>'
    + '%H <i>{{ basel_text_hours }}</i></div><div>'
    + '%M <i>{{ basel_text_mins }}</i></div><div>'
    + '%S <i>{{ basel_text_secs }}</i></div></div>'));
});
  });
</script>
{% endif %}

<script><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>


<script>
    function wcqib_refresh_quantity_increments() {
        jQuery("div.quantity:not(.buttons_added), td.quantity:not(.buttons_added)").each(function(a, b) {
            var c = jQuery(b);
            c.addClass("buttons_added"), c.children().first().before('<input type="button" value="-" class="minus" />'), c.children().last().after('<input type="button" value="+" class="plus" />')
        })
    }
    String.prototype.getDecimals || (String.prototype.getDecimals = function() {
        var a = this,
            b = ("" + a).match(/(?:\.(\d+))?(?:[eE]([+-]?\d+))?$/);
        return b ? Math.max(0, (b[1] ? b[1].length : 0) - (b[2] ? +b[2] : 0)) : 0
    }), jQuery(document).ready(function() {
        wcqib_refresh_quantity_increments()
    }), jQuery(document).on("updated_wc_div", function() {
        wcqib_refresh_quantity_increments()
    }), jQuery(document).on("click", ".plus, .minus", function() {
        var a = jQuery(this).closest(".quantity").find(".qty"),
            b = parseFloat(a.val()),
            c = parseFloat(a.attr("max")),
            d = parseFloat(a.attr("min")),
            e = a.attr("step");
        b && "" !== b && "NaN" !== b || (b = 0), "" !== c && "NaN" !== c || (c = ""), "" !== d && "NaN" !== d || (d = 0), "any" !== e && "" !== e && void 0 !== e && "NaN" !== parseFloat(e) || (e = 1), jQuery(this).is(".plus") ? c && b >= c ? a.val(c) : a.val((b + parseFloat(e)).toFixed(e.getDecimals())) : d && b <= d ? a.val(d) : b > 0 && a.val((b - parseFloat(e)).toFixed(e.getDecimals())), a.trigger("change")
    });
</script>

<script><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/basel/basel_features/add_to_cart',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'number\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function(json) {
			$('body').append('<span class="basel-spinner ajax-call"></span>');
		},

		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.table-cell').removeClass('has-error');

			if (json.error) {
				$('.basel-spinner.ajax-call').remove();
				if (json.error.option) {
					for (i in json.error.option) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json.error.option[i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json.error.option[i] + '</div>');
						}
					}
				}

				if (json.error.recurring) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

				if (json.success_redirect) {
					
					location = json.success_redirect;
				
				} else if (json.success) {
					
					$('.table-cell').removeClass('has-error');
					$('.alert, .popup-note, .basel-spinner.ajax-call, .text-danger').remove();
				 
					html = '<div class="popup-note">';
					html += '<div class="inner">';
					html += '<a class="popup-note-close" onclick="$(this).parent().parent().remove()">&times;</a>';
					html += '<div class="table">';
					html += '<div class="table-cell v-top img"><img src="' + json.image + '" /></div>';
					html += '<div class="table-cell v-top">' + json.success + '</div>';
					html += '</div>';
					html += '</div>';
					html += '</div>';
					$('body').append(html);
					setTimeout(function() {$('.popup-note').hide();}, 8100);
					// Need to set timeout otherwise it wont update the total
					setTimeout(function () {
					$('.cart-total-items').html( json.total_items );
					$('.cart-total-amount').html( json.total_amount );
					}, 100);

					$('#cart-content').load('index.php?route=common/cart/info #cart-content > *');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script>
<script><!--
$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script><!--
$('#review').delegate('.pagination a', 'click', function(e) {
  e.preventDefault();
	$("html,body").animate({scrollTop:(($("#review").offset().top)-50)},500);
    $('#review').fadeOut(50);

    $('#review').load(this.href);

    $('#review').fadeIn(500);
	
});


$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();

			if (json.error) {
				$('#review-notification').after('<div class="alert alert-sm alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json.error + '</div>');
			}

			if (json.success) {
				$('#review-notification').after('<div class="alert alert-sm alert-success"><i class="fa fa-check-circle"></i> ' + json.success + '</div>');

				$('input[name=\'name\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});

$(document).ready(function() {
{% if product_layout == "full-width" %}
// Sticky information
$('.table-cell.right .inner').theiaStickySidebar({containerSelector:'.product-info'});
{% endif %}

// Reviews/Question scroll link
$(".to_tabs").click(function() {
    $('html, body').animate({
        scrollTop: ($(".main_tabs").offset().top - 100)
    }, 1000);
});

// Sharing buttons
{% if basel_share_btn %}
var share_url = encodeURIComponent(window.location.href);
var page_title = '{{ heading_title }}';
{% if thumb %}
var thumb = '{{ thumb }}';
{% endif %}
$('.fb_share').attr("href", 'https://www.facebook.com/sharer/sharer.php?u=' + share_url + '');
$('.twitter_share').attr("href", 'https://twitter.com/intent/tweet?source=' + share_url + '&text=' + page_title + ': ' + share_url + '');
$('.google_share').attr("href", 'https://plus.google.com/share?url=' + share_url + '');
$('.pinterest_share').attr("href", 'http://pinterest.com/pin/create/button/?url=' + share_url + '&media=' + thumb + '&description=' + page_title + '');
$('.vk_share').attr("href", 'http://vkontakte.ru/share.php?url=' + share_url + '');
{% endif %}
});
//--></script>


<script>
$(document).ready(function() {

$('.cloud-zoom-wrap').click(function (e) {
	e.preventDefault();
    $('img', this).trigger('click');
});


$('.image-additional').slick({
prevArrow: "<a class=\"icon-arrow-left\"></a>",
nextArrow: "<a class=\"icon-arrow-right\"></a>",
appendArrows: '.image-additional .slick-list',
arrows:true,
{% if direction == 'rtl' %}
rtl: true,
{% endif %}
infinite:false,
{% if product_layout == "images-left" %}
slidesToShow: {{ (img_h/img_a_h)|round(0, 'floor') }},
vertical:true,
verticalSwiping:true,
{% else %}
slidesToShow: {{ (img_w/img_a_w)|round }},
{% endif %}
responsive: [
{
breakpoint: 992,
settings: {
vertical:false,
verticalSwiping:false
}
}]
});	

});
//--></script>

<script>

    $(document).ready(function() {
// Image Gallery
        $("#gallery").lightGallery({
            selector: '.link',
            download:false,
            hideBarsDelay:99999
        });
    });





//--></script>
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type": "Product",
"image": [
{% if thumb %}
"{{ thumb }}"
{% endif %}
],
"description": "{{ meta_description }}",
{% if review_qty %}
"aggregateRating": {
"@type": "AggregateRating",
"ratingValue": "{{ rating }}",
"reviewCount": "{{ review_qty }}"},
{% endif %}
"name": "{{ heading_title }}",
"sku": "{{ model }}",
{% if manufacturer %}
"brand": "{{ manufacturer }}",
{% endif %}
"offers": {
"@type": "Offer",
{% if qty > 0 %}
"availability": "http://schema.org/InStock",
{% else %}
"availability": "http://schema.org/OutOfStock",
{% endif %}
{% if price %}
{% if special %}
"price": "{{ special_snippet }}",
{% else %}
"price": "{{ price_snippet }}",
{% endif %}
"priceCurrency": "{{ currency_code }}"
{% endif %}
}
}
</script>
{{ footer }}